# Converting MATLAB data to new dataframes for python

In [30]:
import scipy.io
import pandas as pd

# Load the MATLAB file
mat_file = 'Fri_wavelet_timeseries_results.mat'
#mat_file = 'Tues_wavelet_timeseries_results.mat'

mat_contents = scipy.io.loadmat(mat_file)

# Display the keys in the MATLAB file to understand its structure
print(mat_contents.keys())

dict_keys(['__header__', '__version__', '__globals__', 'R', 'all_pairs', 'people', 'times'])

In [31]:
#for key in ['R', 'all_pairs', 'people', 'times']:
#    print(key + ':')
#    print(mat_contents[key])
#    print('\
#')

## Create csv for AXW data

In [32]:
import numpy as np
import pandas as pd


R = mat_contents['R'][0][0]
times = mat_contents['times'].flatten()

# Extract the 'axw' data
axw_data = R['axw']

# Create a DataFrame for the 'axw' data with all columns
axw_df = pd.DataFrame(axw_data.T)

# Add the 'times' column
axw_df['Time'] = times


# Move 'Time' column to the front
cols = axw_df.columns.tolist()
cols.insert(0, cols.pop(cols.index('Time')))
axw_df = axw_df[cols]

# Rename the columns
axw_df.columns = ['Time'] + [str(i) for i in range(1, len(axw_df.columns))]


# Display the head of the DataFrame
#print(axw_df.head())
#print(axw_df.describe())

axw_df.head()

,Time,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
0,0.00,0.324870,0.299612,0.324592,0.320003,0.324782,0.322183,0.303858,0.278032,0.325011,...,0.317407,0.237875,0.313366,0.317604,0.220534,0.324120,0.324082,0.218638,0.228102,0.324038
1,0.04,0.324866,0.299454,0.324588,0.319995,0.324770,0.322171,0.303769,0.277496,0.325002,...,0.317356,0.237358,0.313268,0.317536,0.219914,0.324098,0.324063,0.217947,0.227484,0.324014
2,0.12,0.324861,0.299294,0.324584,0.319987,0.324758,0.322160,0.303677,0.276942,0.324992,...,0.317305,0.236832,0.313167,0.317467,0.219286,0.324076,0.324043,0.217248,0.226857,0.323990
3,0.28,0.324856,0.299131,0.324579,0.319978,0.324745,0.322148,0.303583,0.276371,0.324982,...,0.317252,0.236295,0.313064,0.317395,0.218648,0.324054,0.324023,0.216542,0.226220,0.323966
4,0.32,0.324851,0.298965,0.324575,0.319969,0.324732,0.322136,0.303485,0.275781,0.324972,...,0.317197,0.235748,0.312959,0.317322,0.218002,0.324031,0.324001,0.215828,0.225574,0.323940

In [33]:
#axw_df['Time']

In [34]:
axw_df.to_csv('fri_axw_data.csv')

## Create csv for AWC data

In [35]:
# Extract the 'awc' data
awc_data = R['awc']

# Create a DataFrame for the 'awc' data with all columns
awc_df = pd.DataFrame(awc_data.T)

# Add the 'times' column
awc_df['Time'] = times

# Move 'Time' column to the front
cols = awc_df.columns.tolist()
cols.insert(0, cols.pop(cols.index('Time')))
awc_df = awc_df[cols]

# Rename the columns
awc_df.columns = ['Time'] + [str(i) for i in range(1, len(awc_df.columns))]

awc_df.head()

# Display the head of the DataFrame
#print(synchrony_df.head())
#print(synchrony_df.describe())

,Time,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
0,0.00,0.324108,0.282938,0.323575,0.315606,0.323925,0.319054,0.291211,0.247022,0.324382,...,0.310606,0.180009,0.302963,0.310136,0.163945,0.322613,0.322539,0.164421,0.173148,0.322457
1,0.04,0.324099,0.282637,0.323566,0.315589,0.323902,0.319031,0.291031,0.246067,0.324364,...,0.310507,0.179287,0.302773,0.310004,0.163179,0.322570,0.322501,0.163620,0.172375,0.322410
2,0.12,0.324090,0.282332,0.323558,0.315572,0.323878,0.319008,0.290846,0.245084,0.324345,...,0.310405,0.178553,0.302579,0.309868,0.162407,0.322526,0.322461,0.162817,0.171597,0.322363
3,0.28,0.324080,0.282023,0.323549,0.315553,0.323853,0.318984,0.290656,0.244073,0.324325,...,0.310301,0.177809,0.302381,0.309728,0.161630,0.322482,0.322420,0.162012,0.170813,0.322314
4,0.32,0.324070,0.281708,0.323540,0.315534,0.323827,0.318960,0.290460,0.243033,0.324305,...,0.310193,0.177053,0.302178,0.309585,0.160846,0.322436,0.322378,0.161205,0.170022,0.322263

In [36]:
awc_df.to_csv('fri_awc_data.csv')

## Create raw data csv that uses the same measure of time

In [39]:
movement_df = pd.read_csv('Fri_processed_for_matlab_acc.csv')
#movement_df = pd.read_csv('Tues_processed_for_matlab_acc.csv')

# Convert the 'datetime' column to datetime type
movement_df['datetime'] = pd.to_datetime(movement_df['datetime'])

# Calculate the time in seconds from the start
start_time = movement_df['datetime'].iloc[0]
movement_df['Time'] = (movement_df['datetime'] - start_time).dt.total_seconds()

# Move 'Time' column to the front
cols = movement_df.columns.tolist()
cols.insert(0, cols.pop(cols.index('Time')))
movement_df = movement_df[cols]

In [40]:
movement_df.head()

,Time,datetime,T3,AR,IR,P9,FR,P11,P10a,CR,GR,P7,T0,BR,T2,ER,P10b,HR,J,P8
0,0.00,2023-05-19 10:48:58.560,0.985112,0.991920,1.021086,0.921149,1.068120,0.983393,1.017866,1.037583,1.027691,0.988654,0.982292,0.997120,1.002047,1.020835,0.990062,1.021391,0.992527,0.985154
1,0.04,2023-05-19 10:48:58.600,0.982864,0.990931,1.022077,0.921098,1.069555,0.983393,1.017755,1.037849,1.027121,0.987531,0.981303,0.998029,1.002047,1.020829,0.991300,1.021391,0.992723,0.986117
2,0.12,2023-05-19 10:48:58.680,0.984974,0.990843,1.021893,0.923128,1.069041,0.983222,1.016574,1.036620,1.027691,0.987393,0.980196,0.996926,1.002047,1.021937,0.991153,1.020520,0.991438,0.984192
3,0.28,2023-05-19 10:48:58.840,0.983237,0.989993,1.021893,0.922248,1.069963,0.984349,1.017822,1.036620,1.026397,0.988268,0.980196,0.997706,1.002721,1.021775,0.991804,1.020520,0.992527,0.985465
4,0.32,2023-05-19 10:48:58.880,0.983141,0.991122,1.021968,0.922142,1.069041,0.984086,1.017710,1.035705,1.026758,0.987176,0.981303,0.997023,1.000922,1.020513,0.993042,1.020032,0.991634,0.985384

In [41]:
movement_df.to_csv('fri_movement_data.csv')

# Creating CSV files for all of this data per second (less data for visualizations)

## AXW data per second

In [42]:
# Create a new dataframe to store one data point for every second
axw_unique_seconds = np.arange(axw_df['Time'].min(), axw_df['Time'].max() + 1)
axw_closest_indices = [np.abs(axw_df['Time'] - sec).idxmin() for sec in axw_unique_seconds]
axw_per_second = axw_df.loc[axw_closest_indices].reset_index(drop=True)

axw_per_second.head()

,Time,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
0,0.00,0.324870,0.299612,0.324592,0.320003,0.324782,0.322183,0.303858,0.278032,0.325011,...,0.317407,0.237875,0.313366,0.317604,0.220534,0.324120,0.324082,0.218638,0.228102,0.324038
1,1.00,0.324749,0.296109,0.324487,0.319768,0.324486,0.321922,0.301550,0.264469,0.324782,...,0.316135,0.226287,0.311007,0.315927,0.207288,0.323610,0.323568,0.204282,0.214681,0.323444
2,2.00,0.385094,0.345482,0.384853,0.378642,0.384410,0.381514,0.351418,0.285609,0.384963,...,0.371787,0.250350,0.363816,0.370721,0.228932,0.383096,0.382589,0.227129,0.236081,0.382564
3,3.00,0.519741,0.456558,0.519744,0.508623,0.518107,0.514445,0.455953,0.344464,0.519511,...,0.491212,0.319418,0.478411,0.488719,0.305178,0.516765,0.513572,0.314059,0.309459,0.515193
4,3.96,0.599733,0.506118,0.601266,0.582333,0.596749,0.592499,0.493270,0.356459,0.600086,...,0.538816,0.338059,0.522261,0.538030,0.348365,0.597786,0.587387,0.361076,0.351273,0.595379

In [43]:
axw_per_second.to_csv('fri_axw_data_perSecond.csv')

## ACW data per second

In [44]:
# Create a new dataframe to store one data point for every second
awc_unique_seconds = np.arange(awc_df['Time'].min(), awc_df['Time'].max() + 1)
awc_closest_indices = [np.abs(awc_df['Time'] - sec).idxmin() for sec in awc_unique_seconds]
awc_per_second = awc_df.loc[awc_closest_indices].reset_index(drop=True)

awc_per_second.head()

,Time,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
0,0.00,0.324108,0.282938,0.323575,0.315606,0.323925,0.319054,0.291211,0.247022,0.324382,...,0.310606,0.180009,0.302963,0.310136,0.163945,0.322613,0.322539,0.164421,0.173148,0.322457
1,1.00,0.323866,0.276365,0.323364,0.315114,0.323336,0.318531,0.286638,0.223812,0.323927,...,0.308104,0.164433,0.298447,0.306874,0.148600,0.321604,0.321518,0.149084,0.157549,0.321279
2,2.00,0.383664,0.317363,0.383207,0.372205,0.382299,0.376894,0.327986,0.223254,0.383399,...,0.359013,0.172969,0.344293,0.356047,0.159474,0.379725,0.378704,0.163008,0.169205,0.378665
3,3.00,0.516215,0.411923,0.516253,0.496265,0.513002,0.506247,0.410447,0.254191,0.515769,...,0.463632,0.214153,0.441797,0.457929,0.212702,0.510502,0.504191,0.223277,0.223896,0.507358
4,3.96,0.589528,0.441044,0.592409,0.558616,0.583989,0.575909,0.424012,0.261406,0.590281,...,0.486094,0.222358,0.464716,0.483557,0.236365,0.586321,0.567007,0.248444,0.242919,0.581348

In [45]:
awc_per_second.to_csv('fri_awc_data_perSecond.csv')

## Movement data per second

In [46]:
# Create a new dataframe to store one data point for every second
movement_unique_seconds = np.arange(movement_df['Time'].min(), movement_df['Time'].max() + 1)
movement_closest_indices = [np.abs(movement_df['Time'] - sec).idxmin() for sec in movement_unique_seconds]
movement_per_second = movement_df.loc[movement_closest_indices].reset_index(drop=True)

movement_per_second.head()

,Time,datetime,T3,AR,IR,P9,FR,P11,P10a,CR,GR,P7,T0,BR,T2,ER,P10b,HR,J,P8
0,0.00,2023-05-19 10:48:58.560,0.985112,0.991920,1.021086,0.921149,1.068120,0.983393,1.017866,1.037583,1.027691,0.988654,0.982292,0.997120,1.002047,1.020835,0.990062,1.021391,0.992527,0.985154
1,1.00,2023-05-19 10:48:59.560,0.984974,0.990982,1.022121,0.922142,1.069041,0.983248,1.017977,1.037536,1.028054,0.987422,0.981388,0.997706,1.001195,1.020506,0.988970,1.022263,0.992428,0.986117
2,2.00,2023-05-19 10:49:00.560,0.985112,0.989942,1.020902,0.923186,1.070832,0.983511,1.015792,1.036620,1.026759,0.987284,0.981271,0.996749,1.001102,1.022099,0.988974,1.022263,0.993614,0.985424
3,3.00,2023-05-19 10:49:01.560,0.983988,0.991071,1.020828,0.921149,1.070162,0.983366,1.016574,1.037583,1.026759,0.988268,0.982176,0.996066,1.000922,1.020829,0.991008,1.021776,0.992428,0.986386
4,3.96,2023-05-19 10:49:02.520,0.985112,0.989942,1.022077,0.921978,1.069397,0.984230,1.016508,1.036620,1.028053,0.987422,0.981388,0.998077,1.002501,1.021770,0.990062,1.021391,0.992332,0.985195

In [47]:
movement_per_second.to_csv('fri_movement_data_perSecond.csv')

## Checks

In [48]:
axw_per_second.shape

(10769, 154)

In [49]:
awc_per_second.shape

(10769, 154)

In [50]:
movement_per_second.shape

(10769, 20)